#portfolio {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 232, 232);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.p-container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 5% auto;
}

.p-container>a {
    text-decoration: none;
}

.p-box {
    position: relative;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.p-box img {
    width: 100%;
    /* border: 1px solid red; */
}

.p-box button a {
    text-decoration: none;
    color: rgb(49, 49, 49);

}

.p-box button a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.p-box button:hover {
    /* transform: scale(1.1); */
    background-color: rgb(204, 204, 204);
    /* border: 1px solid rgba(49, 49, 49, 0.05); */
}

.p-box:hover {
    transform: scale(1.03);
    transition: 1s ease;
}

.p-text {
    background-color: white;
    color: rgb(49, 49, 49);
    font-size: 0.8em;
    padding: 10px;
    height: 100px;
    font-weight: 300;
    height: 100%;
    padding-bottom: 50px;
    border-top: 2px solid rgb(180, 180, 180);
}

.p-box>img {
    width: 100%;
}