body {
    margin: auto 0;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
#navbar {
    /* sticky */
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 0.9em;
    padding: 55px 30px;
    margin: 0;
    transition: all 1s ease;
    /* border: 1px solid red; */
}

.nav-compact > ul {
    font-size: 0.75em;
    padding: 15px;
    background-color: rgba(163, 163, 163, 0.1);
}
.nav-compact .nav-item.push a {
    padding: 5px;
    transition: all 1s ease;
}

.nav-item > a:hover {
    background-color: rgba(163, 163, 163, 0.1);
}

.nav-item > a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    /* border: 1px solid red; */
    padding: 15px;
}

.push > a {
    /* padding: 20px 100px; */
    /* border: 10px solid yellow; */
}

@media only screen and (max-width: 600px) {
    .nav-list {
        font-size: 0.8em;
        padding: 15px;
    }
    .push > a {
        padding: 5px;
        /* border: 10px solid yellow; */
    }
}

.push {
    margin-left: auto;
}


/* COVER */
#header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    width: 100%;

    /* width: 50%; */
    /* background-color: rgb(0,0,0); */
    /* background-image: url('https://images.unsplash.com/photo-1562907550-096d3bf9b25c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1566573939866-05b7a236003a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80'); */
    background-image: url('./img//background-img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* background-origin: content-box; */
}

.h-container {
    /* width: 100%; */
}

.h-content {
    /* border: 5px solid yellow; */
    color: #fff;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    /* width: 100%; */
    max-width: 800px;
    /* min-width: 400px; */
    /* padding-top: 3em; */
}

.h-center {
    top: 30%;  
}
.h-bottom {
    /* top: 34%; */
}

#h-button {
    position: absolute;
    background-color: transparent;
    border: 0;
    /* color: white;
    width: 10em;
    height: 3em; */
    bottom: 10px;

    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    /* border: 1px solid rgba(163, 163, 163, 0.1);; */
    padding: 5px 25px;
    /* background-color: rgba(163, 163, 163, 0.1); */
    border-radius: 15px;
}
#h-button:hover {
    background-color: rgba(163, 163, 163, 0.2);
    color: white;
}


.h-content h1 {
    font-size: 3.5vmin; 
    margin-bottom: 5vmin;   
}
.h-content h2 {
    font-size: 2vmin;
    font-weight: 100;
    /* padding-bottom: 10vmin; */
}
.h-content.h-bottom {
    position: relative;
    border: 1px solid green;
    width: 100%;
    /* display: none; */
}

/* COVER */

footer {
    text-align: center;
    padding: 10px;
}


/* ABOUT */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgba(255,255,255,0.2)), url('/_ResumeWebsite_v2//img/gradient-black-background.jpg');
    background-size: cover;
    background-position: center center;
}
