body {
    margin: auto 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}

/* NAVBAR */
#navbar {
    /* sticky */
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 0.9em;
    padding: 55px 30px;
    margin: 0;
    transition: all 1s ease;
}

.nav-compact > .nav-list {
    font-size: 0.75em;
    padding: 15px;
    background-color: rgba(163, 163, 163, 0.1);
}
.nav-compact .nav-item.push a {
    padding: 5px;
    transition: all 1s ease;
}

.nav-item > a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    padding: 15px;
}

.nav-item > a:hover {
    background-color: rgba(163, 163, 163, 0.1);
}

.push {
    margin-left: auto;
}


/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('./img//background-img.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.h-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 800px;
}

.h-content h1 {
    font-size: 3.5vmin; 
    margin-bottom: 5vmin;   
}
.h-content h2 {
    font-size: 2vmin;
    font-weight: 100;
}
.h-content.h-bottom {
    position: relative;
    border: 1px solid green;
    width: 100%;
}

#h-button {
    position: absolute;
    background-color: transparent;
    border: 0;
    border-radius: 15px;
    padding: 0px 20pxx;
    bottom: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
}

#h-button:hover {
    background-color: rgba(163, 163, 163, 0.1);
}

/* ABOUT */
#about {
    /* display: flex; */
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgb(56, 56, 56)), url('/_ResumeWebsite_v2//img/gradient-black-background.jpg');
    background-size: cover;
    background-position: center center;
}

.a-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.a-content {
    border: 1px solid red;
    display: block;
    /* min-width: 400px; */
    max-width: 500px;
    min-width: 300px;
    /* max-height: 500px; */
    /* align-self: baseline; */
    /* height%; */
}

.a-top {

}

.a-image {
    width: 300px;
    border-radius: 50%;
    border: 15px solid white;
}

.a-bottom {

}

/* CONTACT */
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, black, rgba(255,255,255,0.2)), url('/_ResumeWebsite_v2//img/gradient-black-background.jpg');
    background-size: cover;
    background-position: center center;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
}